form {
  color: white;
  align-self: center;
  background-color: rgba(119, 70, 53, 0.577);
  padding: 2rem 3rem;
  border-radius: 5px;
}

h2 {
  color: white;
}

input {
  margin: 0 1rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.22);
  color: white;
}
input::placeholder {
  color: rgba(255, 225, 213, 0.76);
}

label {
  padding: 1rem 0;
}

button {
  margin-top: 1rem;
}

button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: coral;
  text-transform: uppercase;
  font-weight: 700;
  width: 80%;
  padding: 0.5rem 0;
}
