main {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgb(229, 177, 156);
  border: 1px solid coral;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  justify-content: center;
  max-height: 90%;
  justify-self: center;
  overflow: scroll;
}
h1 {
  color: coral;
  align-self: center;
  text-transform: uppercase;
  padding-top: 3rem;
}
