main {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px grey;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 0.5rem;
  justify-content: center;
  max-height: 90%;
  justify-self: center;
}
h1 {
  color: coral;
  align-self: center;
  text-transform: uppercase;
}
